[package]
name = "base58m"
description = "base64-like binary with support for encoding/decoding Monero base58 strings."
keywords = ["binary", "monero", "base58", "base58-check"]
version = "0.2.0"
authors = ["h4sh3d <h4sh3d@protonmail.com>"]
license = "MIT"
homepage = "https://github.com/monero-rs/base58m"
repository = "https://github.com/monero-rs/base58m"
readme = "README.md"
include = [
    "src/*",
    "README.md",
    "LICENSE",
]

edition = "2018"

[dependencies]
clap = "2.33.0"
base58-monero = "0.3.0"
tokio = { version = "1", features = ["fs", "rt", "rt-multi-thread", "macros", "io-std", "io-util"] }
futures-util = "0.3.17"
async-stream = { version = "0.3.2" }
thiserror = "1"
